.MainDash{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.title{
    display:flex;
    gap: 1rem;
    margin: 1rem 0;
    align-items: center;
}

.refresh-btn:hover{
    cursor:pointer;
}

.edit-saldo{
    border: 2px solid black;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.edit-saldo>button{
    height: 100%;
    width: 305px;
    border-radius: 0.5rem;
}

.button:hover{
    color: var(--gray);
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content:flex-start;
    }
}

@media screen and (max-width: 768px)
{
    .MainDash{
        align-items: center;
    }
}