.bar{
   display: flex;
   flex-direction: column;
   justify-content: center
}


@media screen and (max-width: 1200px) {
   .bar{
      width: 100%;
   }
}

@media screen and (max-width: 768px) {
   .bar{
      width: 100%;
   }
}