.CardsBulanan {
    display: flex;
    gap: 10px;
    margin-bottom: 2rem;
}

.parentContainer{
    width: 100%;
    box-shadow: var(--smboxShadow)
}
  
@media screen and (max-width: 1200px) {
    .CardsBulanan{
      flex-direction: column;
      width: 100%;
    }
    .parentContainer{
      height: 9rem;
    }

    #cards-pengeluaran-harian{
      width:170%;
    }

    #cards-pengeluaran-bulanan{
      width:170%;
    }
}
  
@media screen and (max-width: 768px)
{
    .CardsBulanan{
      width: 90%;
    }

    #cards-pengeluaran-harian{
      width:90%;
    }

    #cards-pengeluaran-bulanan{
      width:90%;
    }
}